@import "../../style.scss";


    
    .explore{
        @include themify($themes){
           
        background-color: themed("bgSoft");
        padding: 50px;
        height: 100%;

        
    }

}